aiocqhttp==1.4.2
aiohttp==3.8.4
beautifulsoup4==4.10.0
cloudscraper==1.2.71
fuzzywuzzy==0.18.0
httpx==0.21.1
jieba==0.42.1
loguru==0.7.0
lxml==4.9.2
Markdown==3.4.3
matplotlib==3.5.1
nonebot==1.8.4
numpy==1.22.4
peony_twitter==2.1.2
Pillow==9.5.0
pygtrie==2.4.2
pytz==2023.3
Quart==0.14.1
Requests==2.30.0
sogou_tr_free==0.0.11
sqlitedict==2.1.0
ujson==5.7.0
zhconv==1.4.3